.movieTitle {
  font-size: 55px;
}

.movieOverview {
  font-size: 25px;
  line-height: 30px;
}

.moviePoster {
  border-style: solid;
  border-width: 4px;
  border-radius: 0 !important;
  width: 18.4% !important;
  max-height: 814px !important;
}

.learnButton {
  color: black !important;
}

.movieCard {
  height: 100%;
  padding: 3em;
}

@media (max-width: 1200px) {
  .genres{
    flex-direction: column;
  }
}

.infoContainer {
  width: 100%;
  margin-left: 42px;
}

.addSpace:after {
  content: ' ';
  display: inline-block;
  width: 0.2em;
}


@media (max-width: 922px) {
  .infoContainer{
      width: 100%;
      margin-left: 0px;
  }
}