.movieTitle {
  font-size: 55px;
}

.movieOverview {
  font-size: 25px;
  line-height: 30px;
}

.moviePoster {
  border-style: solid;
  border-width: 4px;
  border-radius: 0 !important;
  width: 18.4% !important;
  max-height: 814px !important;
}

.learnButton {
  color: black !important;
}

.movieCard {
  height: 100%;
  padding: 3em;
}

.infoContainer {
  width: 60% !important;
}

.addSpace:after {
  content: ' ';
  display: inline-block;
  width: 0.2em;
}
