@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.contactUsForm {
    text-align:center;
    margin: 50px;
}

.tittle {
    font-family: 'Bungee', cursive;
    font-size: xx-large;
    text-align:center
}

.textInputs {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    background-color: white;
}

input[type=submit] {
    width: 80%;
    font-family: 'Bungee', cursive;
    color: #1b2636;
    font-size: x-large;
    font-weight: bolder;
    background-color: #fbc500;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #facb1c;
}

input[type=checkbox] {
    cursor: pointer;
}

input:required {
    box-shadow: none;
}