.calendarSideBar{
    height: 70%;
    width: 20%;
    margin-top: 5%;
    margin-left: 1%;
    background-color: rgba(27, 38, 54, 1);
    box-sizing: border-box;
}

.profileCircle{
    height: 100px;
    width: 100px;
    margin-top: -50%;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: #fbc500;
    background: url(../img/avatar.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.profileName{
    font-size: 20px;
    color: white !important;
}

.profileUsername{
    font-size: 15px;
    color: white !important;
}

.sidebarInfo{
    padding-top: 1em;
    width: 100%;
    max-height: 30%;
}

.eventList{
    width: 100%;
    max-height: 70%;
}

#event-list::-webkit-scrollbar {
    width: 3%;
    background-color: transparent;
}

#event-list::-webkit-scrollbar-thumb {
    width: 3%;
    background-color: #fbc500;
}