.nav-bar-avatar {
  margin-right: 10px;
}

.side-bar-profile {
  margin-bottom: 5px;
}

.decoration-none {
  text-decoration: none;
}

.a-white {
  color: white !important;
}

.activeBtn {
  padding-top: 3px !important;
  border-bottom: solid 3px #fbc500 !important;
}

.a-logo {
  width: 100%;
}

.n2w-logo {
  margin-right: 3.2%;
  width: 8%;
}

.v-toolbar__content {
  padding: 0px !important;
}
