.nav-bar-avatar{
    margin-right:10px;
}

.side-bar-profile{
    margin-bottom:5px;
}

.decoration-none{
    text-decoration: none;
}

.a-white{
    color: white !important;
}

.a-logo{
    width: 100%;
}

.n2w-logo-div{
   max-width: 4%;
   margin-right: 10px;
}