.userBioHeader {
  font-size: 65px;
}

.userBio {
  margin-top: 1em;
  font-size: 30px;
  line-height: 36px;
}

.profileCard {
  padding: 10em;
}

.profileInfo {
  padding: 1em;
}

.editProfileButton {
  margin-right: 12em;
  margin-bottom: 5em;
}
.logOutButton {
  margin-right: 5em;
  margin-bottom: 5em;
}

.avatarContainer{
  width: 30%;
}

.infoContainer{
  width:30%
}