.signUpBody{
    width: 100%;
    height: 100%;
}

.slide{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.signUpForm{
    padding: 1em;
}

.decoration-none{
    text-decoration: none;
}

.logoContainer{
    width: 80%;
    margin: 5.5em;
}

.formCard{
    width: 50%;
}

@media (max-width: 992px) {
    .formCard{
        width: 100%;
    }
}