.comingSoon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comingSoonText {
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
}

.comingContainer{
  width: 30%;
}

.infoContainer{
  width:30%
}